.number {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 72px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 6px;
    transition: 0.05s border linear;
}

.number:active {
    border: 2px solid #5D5FEF;
}

.number:nth-child(10) {
    width: 152px;
}

.sumbol {
    width: 9px;
    height: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    text-align: center;

    color: #000000;
}